
.card-title{
    text-align: center;
    font-weight: bold !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 140%;
}

.card{
    padding: 20px;
    margin-bottom: 5%;
    border-radius: 20px;
}

#mostrar{
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    margin-top: 2%;

}

#boton-comprar {
    background-color: rgb(18, 18, 126);
    box-shadow: 2px 3px 5px rgb(124, 111, 111);
    border-radius: 10px;
    border: solid 2px rgb(12, 9, 49);
    width: 20%;
}

#boton-comprar:hover{
    background-color: rgb(58, 58, 180);
}

#valores{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text{
    text-align: justify;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.card .card-body p{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 1.1em;
}

#titulo-bicis{
    text-align: center;
    margin-bottom: 2%;
}